@font-face {
	font-family: 'Raleway';
	src: url('../../fonts/Raleway-Medium.eot');
	src: local('Raleway Medium'), local('Raleway-Medium'), url('../../fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'), url('../../fonts/Raleway-Medium.woff2') format('woff2'), url('../../fonts/Raleway-Medium.woff') format('woff'), url('../../fonts/Raleway-Medium.ttf') format('truetype'), url('../../fonts/Raleway-Medium.svg#Raleway-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Raleway';
	src: url('../../fonts/Raleway-Thin.eot');
	src: local('Raleway Thin'), local('Raleway-Thin'), url('../../fonts/Raleway-Thin.eot?#iefix') format('embedded-opentype'), url('../../fonts/Raleway-Thin.woff2') format('woff2'), url('../../fonts/Raleway-Thin.woff') format('woff'), url('../../fonts/Raleway-Thin.ttf') format('truetype'), url('../../fonts/Raleway-Thin.svg#Raleway-Thin') format('svg');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../../fonts/Raleway-Black.eot');
	src: local('Raleway Black'), local('Raleway-Black'), url('../../fonts/Raleway-Black.eot?#iefix') format('embedded-opentype'), url('../../fonts/Raleway-Black.woff2') format('woff2'), url('../../fonts/Raleway-Black.woff') format('woff'), url('../../fonts/Raleway-Black.ttf') format('truetype'), url('../../fonts/Raleway-Black.svg#Raleway-Black') format('svg');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Raleway';
	src: url('../../fonts/Raleway-Light.eot');
	src: local('Raleway Light'), local('Raleway-Light'), url('../../fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'), url('../../fonts/Raleway-Light.woff2') format('woff2'), url('../../fonts/Raleway-Light.woff') format('woff'), url('../../fonts/Raleway-Light.ttf') format('truetype'), url('../../fonts/Raleway-Light.svg#Raleway-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../../fonts/Raleway-ExtraLight.eot');
	src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url('../../fonts/Raleway-ExtraLight.eot?#iefix') format('embedded-opentype'), url('../../fonts/Raleway-ExtraLight.woff2') format('woff2'), url('../../fonts/Raleway-ExtraLight.woff') format('woff'), url('../../fonts/Raleway-ExtraLight.ttf') format('truetype'), url('../../fonts/Raleway-ExtraLight.svg#Raleway-ExtraLight') format('svg');
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: 'Raleway';
	src: url('../../fonts/Raleway-SemiBold.eot');
	src: local('Raleway SemiBold'), local('Raleway-SemiBold'), url('../../fonts/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'), url('../../fonts/Raleway-SemiBold.woff2') format('woff2'), url('../../fonts/Raleway-SemiBold.woff') format('woff'), url('../../fonts/Raleway-SemiBold.ttf') format('truetype'), url('../../fonts/Raleway-SemiBold.svg#Raleway-SemiBold') format('svg');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Raleway';
	src: url('../../fonts/Raleway-ExtraBold.eot');
	src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'), url('../../fonts/Raleway-ExtraBold.eot?#iefix') format('embedded-opentype'), url('../../fonts/Raleway-ExtraBold.woff2') format('woff2'), url('../../fonts/Raleway-ExtraBold.woff') format('woff'), url('../../fonts/Raleway-ExtraBold.ttf') format('truetype'), url('../../fonts/Raleway-ExtraBold.svg#Raleway-ExtraBold') format('svg');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../../fonts/Raleway-Regular.eot');
	src: local('Raleway'), local('Raleway-Regular'), url('../../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'), url('../../fonts/Raleway-Regular.woff2') format('woff2'), url('../../fonts/Raleway-Regular.woff') format('woff'), url('../../fonts/Raleway-Regular.ttf') format('truetype'), url('../../fonts/Raleway-Regular.svg#Raleway-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Raleway';
	src: url('../../fonts/Raleway-Bold.eot');
	src: local('Raleway Bold'), local('Raleway-Bold'), url('../../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'), url('../../fonts/Raleway-Bold.woff2') format('woff2'), url('../../fonts/Raleway-Bold.woff') format('woff'), url('../../fonts/Raleway-Bold.ttf') format('truetype'), url('../../fonts/Raleway-Bold.svg#Raleway-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}


$colors: ( mainColor: #27c7ab, pricingBackground: #F2F2F2, pricingBoxBackground: #FAFAFA, lightFontColor: #c2c2c2, darkFontColor: #787878, pricingFeaturesDarkBackground: #E4E4E4, pricingFeaturesLightBackground: #F1F1F1, placeholderFontColor: #989898, );

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.green_word {
	color: map-get($colors, mainColor);
	font-weight: 600;
}

img {
	width: 100%;
	height: auto;
}

body {
	font-family: 'Raleway', Helvetica, sans-serif;

	.main_width {
		margin: 0 auto;
		width: 100vw;

		@media (min-width: 1200px) {
			width: 1200px;
			border: 1px solid red;
		}

	}


	h3 {
		font-size: 1.5rem;
		border-bottom: 0.4rem solid map-get($colors, mainColor);
		width: 240px;
		padding: 5vh 0 2vh;
		margin: 0 3vw 2vh 7vw;
		color: map-get($colors, darkFontColor);
		font-weight: 300;
	}


	button {
		background-color: map-get($colors, mainColor);
		border-radius: 0.8rem;
		color: white;
		text-transform: uppercase;
		font-family: Raleway, Helvetica, sans-serif;
		font-weight: 300;
		border-style: none;
		outline: none;

	}
}
// Main header START
.header {
	background-color: black;
	width: 100vw;
	color: white;
	font-size: 0.8rem;
	height: 42px;
	display: flex;
	align-items: center;
	justify-content: space-between;

	.logo {

		@media (min-width: 769px) {
			margin-left: 11vh;
		}
	}

	.main_menu {
		list-style-type: none;
		display: flex;
		align-items: center;
		align-content: center;



		@media (min-width: 769px) {
			margin-right: 11vh;
		}

		> li {
			padding: 0.8vh;
			position: relative;
			margin: 1.7vh 0 1.7vh 2.5vw;
			display: flex;
			justify-content: center;


// Dropdown menu START

			a {
				display: block;
				text-decoration-line: none;
				&:link {
					color: white;
				}
				&:visited {
					color: white;
				}
				&:active {
					color: white;
				}
			}
			.dropdown_menu {
				flex-direction: column;
				justify-content: center;

				position: absolute;
				display: none;
				margin: 20px 0 0 12px;
				padding: 11px 20px 4px 15px;
				font-size: 1rem;
				list-style-type: none;
				line-height: 1.7rem;
				font-weight: 100;

>li {
	background-color: black;
	padding: 0 10px 2px 15px;
	border: 1px solid black;
	position: relative;
	z-index: 10;
}

.transparent_li {
	background-color: transparent;
	height: 12px;
	border: none;
}

				&:before {
					content: "";
					position: absolute;
					width: 0;
					height: 0;
					border-color: transparent transparent black transparent;
					border-width: 0 11px 12px 11px;
					border-style: solid;
					top: 3px;
					left: 55px;
					margin-top: 8px;
				}
				a {
					color: white;
				}
			}
//Dropdown menu END

		}
	}
}

// Main header END


// Slider START

.slider {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-image: linear-gradient(to bottom, #ffffff 0%,#dbdbdb 100%);
	padding: 5vw;



	@media (min-width: 769px) and (max-width: 1024px) {
		justify-content: center;
		align-content: space-between;
		align-items: center;

	}

	@media (min-width: 1025px) {
			justify-content: center;
			align-content: space-between;
			align-items: center;
	}

	.slider_arrow {
		height: 5rem;
		padding-bottom: 25vh;
		position: relative;
		z-index: 99;


		@media (min-width: 769px) and (max-width: 1024px) {
			padding: 0 2rem;

		}

		@media (min-width: 1025px) {
			padding: 0 2rem;

		}

		.slider_arrow_button {
			color: map-get($colors, mainColor);
			font-size: 3.75rem;
			font-size: 3.75rem;
			font-weight: 200;
			background-color: rgba(255, 255, 255, 0);


		}


	}

	.slider_content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		ul {
			list-style: none;
		}

		li {
			display: none;
		}

		.visible {

			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			@media (min-width: 769px) {
					flex-direction: row;
			}
		}

		.slider_image {
			width: 72vw;
			height: 200px;
			display: flex;
			justify-content: center;
			align-items: center;

			@media (min-width: 769px) and (max-width: 1024px) {
				align-items: flex-start;
				width: 35vw;
				height: 35vh;

			}

			@media (min-width: 1025px) {
				align-items: flex-start;
				width: 41vw;
				height: 42vh;

			}

			img {
				position: absolute;
				height: 225px;
				width: 313px;

				@media (min-width: 769px) and (max-width: 1024px) {
					width: 430px;
					height: 285px;
				}

				@media (min-width: 1025px) {
					width: 530px;
					height: 375px;
				}
			}

		}

		.slider_description_box {
			display: flex;
			flex-direction: column;
			align-items: center;

@media (min-width: 769px) and (max-width: 1024px) {
	align-content: center;
	justify-content: center;
	width: 30vw;
	height: 35vh;

}
			@media (min-width: 1025px) {
				align-content: center;
				justify-content: center;
				width: 30vw;
				height: 25vh;

			}

			h2 {
				text-transform: uppercase;
				font-size: 1.56rem;
				word-spacing: 0.4rem;
				text-align: center;

				@media (min-width: 769px) and (max-width: 1024px) {
					font-size: 1.4rem;
					font-weight: 700;
				}

				@media (min-width: 1025px) {
					font-size: 2.2rem;
					font-weight: 500;
					word-spacing: 0;
				}
			}



			.slider_text {
				text-align: center;
				line-height: 1.2rem;
				font-size: 0.85rem;
				margin: 3vw;

				@media (min-width: 769px) and (max-width: 1024px) {
					font-size: 0.75rem;
					line-height: 1.1rem;
					margin: 2vw;

				}

				@media (min-width: 1025px) {
					font-size: 0.85rem;
					line-height: 1.3rem;
					margin: 3vw;
					width: 400px;


				}
			}

			.slider_button {
				display: flex;
				justify-content: center;
				align-items: center;

				.more_button {
					width: 190px;
					height: 40px;
					font-size: 1.3rem;

					@media (min-width: 769px) and (max-width: 1024px) {
						width: 21vw;
						height: 5vh;

					}

					@media (min-width: 1025px) {
						width: 20vw;
						height: 6vh;
					}
				}
			}
		}
	}
}


// Slider END


// Product boxes START

.product_boxes {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2vh 0;

	@media (min-width: 1025px) {
		flex-direction: row;
		align-items: flex-start;
	}

.product_boxes_for_rwd {
	@media (min-width: 769px) and (max-width: 1024px) {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	@media (min-width: 1025px) and (max-width: 1200px){
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin-left: 4vh;

	}

	@media (min-width: 1201px) {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;



	}

	.product_box {
		height: 30vh;
		width: 78vw;
		background-repeat: no-repeat;
		background-size: contain;
		margin: 2.5vw;


		display: flex;
		align-items: flex-end;


		@media (min-width: 448px) {
			width: 320px;
			height: 230px;
			align-items: flex-end;
			justify-content: center;
			margin: 1vh;
		}

		@media (min-width: 448px) {
			width: 320px;
			height: 230px;
			align-items: flex-end;
			justify-content: center;

		}

		@media (min-width: 1201px) {
			width: 320px;
			height: 230px;
			align-items: flex-end;
			justify-content: center;
			margin-right: 17px;

		}

	}

	.product_box1 {
		background-image: url("../../images/box1_img.jpg");

	}

	.product_box2 {
		background-image: url("../../images/box2_img.jpg");
	}

	.product_name_box {
		width: 100%;
		height: 25%;
		padding: 13px 0 0 12px;
		background-color: rgba(255, 255, 255, 0.5);
		display: flex;
		margin: 0 0 8%;
	}

	.product_name_box1 {
		&::after {
			content: "Chair CLAIR";
			font-weight: 600;
			font-size: 1rem;
			width: 140px;
			height: 18px;
			border-bottom: 0.4rem solid map-get($colors, mainColor);
		}
	}

	.product_name_box2 {
		&::after {
			content: "Chair MARGARITA";
			font-weight: 600;
			font-size: 1rem;
			width: 140px;
			height: 18px;
			border-bottom: 0.4rem solid map-get($colors, mainColor);
		}
	}
}

	.text_box {

		width: 78vw;
		margin: 2vw;
		display: flex;
		flex-direction: column;
		border: 0.065rem solid lightgrey;

		padding: 0 2vh 0 2vh;

		@media (min-width: 1025px) {
			width: 345px;
			height: 247px;
			align-items: flex-start;
			align-content: flex-start;
			justify-content: flex-start;
			margin: 1vh 2vw;
		}

		.text_box_title {
			width: 140px;
			height: 3vh;
			padding: 20px 0 20px;
			margin: 3vh 0 2vh 2vh 0;
			border-bottom: 0.4rem solid map-get($colors, mainColor);
			font-weight: 600;

		}

		p {
			font-size: 0.85rem;
			color: map-get($colors, darkFontColor);
			padding: 1vh 0 2vh 0;

		}
	}
}
// Product boxes END


// Pricing boxes START
.pricing_boxes {
	padding-bottom: 3vh;
	background-color: map-get($colors, pricingBackground);


.pricing_boxes_container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;


	@media (min-width: 650px) {
flex-direction: row;
		flex-wrap: wrap;
	}

	.pricing_box_container {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		width: 78vw;
		height: 550px;
		margin: 10px 13px 0 13px;

@media (min-width: 448px) {
	width: 330px;

}

@media (min-width: 1025px) {
	width: 330px;
height: 600px;
}


		.outer_circle {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 56px;
			height: 56px;
			border: 0.065rem solid lightgrey;
			border-radius: 100px;
			position: absolute;
			background-color: white;


			.inner_circle {
				width: 25px;
				height: 25px;
				border: 0.065rem solid lightgrey;
				border-radius: 100px;
				background-color: map-get($colors, lightFontColor);
			}
		}

		.pricing_box {
			display: flex;
			flex-direction: column;
			align-items: center;

			width: 78vw;
			height: 430px;
			margin-top: 40px;
			border: 0.065rem solid lightgrey;
			background-color: white;


				@media (min-width: 448px) {
					width: 330px;
					height: 500px;
				}


			.plan_name {
				font-size: 1.25rem;
				padding: 30px 0 15px 0;
				color: map-get($colors, mainColor);
				font-weight: 400;
				font-stretch: ultra-condensed;
			}

			.price_circle {
				display: flex;
				justify-content: center;
				flex-direction: column;
				align-items: center;
				font-weight: 500;
				font-size: 2.5rem;
				letter-spacing: 0.06rem;
				color: map-get($colors, lightFontColor);
				border-radius: 100px;
				width: 130px;
				height: 130px;
				background-color: white;
				border: 0.065rem solid lightgrey;
				font-stretch: ultra-condensed;
				margin: 10px 0;
				font-size: 2rem;

.price {
	display: flex;
	flex-direction: row;
	height: 37px;

	.main_price {
		font-size: 2.5rem;
		font-weight: 600;
	}
				.price_sup {
					font-size: 0.9rem;
					align-self: flex-start;
				}
			}

				.currency {
					font-size: 0.8rem;
					font-stretch: ultra-condensed;
					margin-top: 14px;
				}
			}

			.features_list {
				display: flex;
				justify-content: center;
				flex-direction: column;
				font-size: 1.2rem;
				font-weight: 100;
				color: map-get($colors, darkFontColor);

				.dark_row {
					display: flex;
					justify-content: center;
					background-color: map-get($colors, pricingFeaturesDarkBackground);
					padding: 1.2vh;
					width: 77.5vw;

					@media (min-width: 448px) {
						width: 328px;
					}
				}

				.light_row {
					display: flex;
					justify-content: center;
					background-color: map-get($colors, pricingFeaturesLightBackground);
					padding: 1.2vh;
					width: 77.5vw;

					@media (min-width: 448px) {
						width: 328px;
					}
				}
			}

			.join_button_box {
				display: flex;
				flex-grow: 2;

				.join_button {
					display: flex;
					align-self: flex-end;
					align-items: center;
					justify-content: center;
					width: 130px;
					height: 38px;
					margin: 15px;
					border-radius: 0.55rem;
					font-size: 1rem;
				}
			}
		}
	}


// Pricing boxes color changes - hover START
.pricing_box_hover {
	.pricing_box_container {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		width: 78vw;
		height: 550px;
		margin: 10px 13px 0 13px;

@media (min-width: 448px) {
	width: 330px;

}

@media (min-width: 1025px) {
	width: 330px;
height: 600px;
}


		.outer_circle {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 56px;
			height: 56px;
			border-radius: 100px;
			position: absolute;

			//color change START
			background-color: map-get($colors, mainColor);
			border: map-get($colors, mainColor);
			// color change END

			.inner_circle {
				width: 25px;
				height: 25px;
				border: 0.065rem solid lightgrey;
				border-radius: 100px;

				//color change START
				background-color: white;
				// color change END
			}
		}

		.pricing_box {
			display: flex;
			flex-direction: column;
			align-items: center;

			width: 78vw;
			height: 430px;
			margin-top: 40px;


			// color change START
			border: map-get($colors, mainColor);
			background-color: map-get($colors, mainColor);
			// color change END


				@media (min-width: 448px) {
					width: 330px;
					height: 500px;
				}


			.plan_name {
				font-size: 1.25rem;
				padding: 30px 0 15px 0;

				font-weight: 400;
				font-stretch: ultra-condensed;

				// color change START
				color: white;
				// color change END
			}

			.price_circle {
				display: flex;
				justify-content: center;
				flex-direction: column;
				align-items: center;
				font-weight: 500;
				font-size: 2.5rem;
				letter-spacing: 0.06rem;
				border-radius: 100px;
				width: 130px;
				height: 130px;
				color: map-get($colors, lightFontColor);
				background-color: white;
				font-stretch: ultra-condensed;
				margin: 10px 0;
				font-size: 2rem;

				// color change START
				border: white;
				// color change END

.price {
	display: flex;
	flex-direction: row;
	height: 37px;

	.main_price {
		font-size: 2.5rem;
		font-weight: 600;
	}
				.price_sup {
					font-size: 0.9rem;
					align-self: flex-start;
				}
			}

				.currency {
					font-size: 0.8rem;
					font-stretch: ultra-condensed;
					margin-top: 14px;
				}
			}

			.features_list {
				display: flex;
				justify-content: center;
				flex-direction: column;
				font-size: 1.2rem;
				font-weight: 100;
				color: map-get($colors, darkFontColor);

				.dark_row {
					display: flex;
					justify-content: center;
					padding: 1.2vh;
					width: 77.5vw;

					// color change START
					background-color: map-get($colors, pricingFeaturesLightBackground);
					// color change END

					@media (min-width: 448px) {
						width: 328px;
					}
				}

				.light_row {
					display: flex;
					justify-content: center;

					padding: 1.2vh;
					width: 77.5vw;

					// color change START
					background-color: map-get($colors, pricingFeaturesDarkBackground);
					// color change END

					@media (min-width: 448px) {
						width: 328px;
					}
				}
			}

			.join_button_box {
				display: flex;
				flex-grow: 2;

				.join_button {
					display: flex;
					align-self: flex-end;
					align-items: center;
					justify-content: center;
					width: 130px;
					height: 38px;
					margin: 15px;
					border-radius: 0.55rem;
					font-size: 1rem;

					// color change START
					background-color: white;
					color: map-get($colors, mainColor);
					// color change END
				}
			}
		}
	}
}

//hover END


}
}
// Pricing boxes END
// Contactform START

::placeholder {
	color: map-get($colors, lightFontColor);
}

.contact_form_container {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-bottom: 4vh;

	form {
		display: flex;
		flex-direction: column;
		align-content: center;
		align-items: center;

		@media (min-width: 769px) and (max-width: 970px) {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			width: 90vw;
		}

		@media (min-width: 971px) and (max-width: 1200px) {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			margin: 0 5vw;
			width: 86vw;
		}

		@media (min-width: 1201px) {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			margin: 0 5vw;
			width: 1050px;
		}



		.contact_form_left_column_for_rwd {
			display: flex;
			flex-direction: column;
			align-content: center;
			align-items: center;


			@media (min-width: 769px) and (max-width: 1200px) {
				flex-grow: 2;
			}

			@media (min-width: 1201px) {
				width: 68%;
			}

		.input {
			padding-left: 2vw;
			width: 78vw;
			height: 6vh;
			margin: 5px;
			border: 0.01rem solid map-get($colors, mainColor);
			font-size: 1.9rem;
			font-family: Raleway, Helvetica, sans-serif;
			color: map-get($colors, placeholderFontColor);
			font-weight: 100;

			@media (min-width: 769px) {
				width: 100%;
				padding-left: 10px;
			}

			@media (max-width: 767px) and (orientation: landscape) {
				height: 15vh;
			}
		}

		.textarea {
			height: 23vh;
			padding-top: 1.65vh;
			color: map-get($colors, placeholderFontColor);
			font-weight: 100;
			display: flex;
			justify-content: center;
			align-items: center;
			resize: none;

			@media  (max-width: 767px) and (orientation: landscape) {
				height: 40vh;
			}
		}
	}

.contact_form_right_column_for_rwd {
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;

	@media (min-width: 769px) and (max-width: 1200px) {
		width: 37vw;
	}

	@media (min-width: 1201px) {
		width: 30%;
		margin-left: 35px;
	}


		img {
			width: 250px;
			height: 200px;
			margin-right: 40px;
		}
		// Checkbox START
		.agree_checkbox_container {
			display: flex;
			flex-direction: row-reverse;
			align-items: center;
			justify-content: center;
			width: 300px;
			height: 7vh;
			margin: 1vh 0;

			@media (max-width: 767px) and (orientation: landscape) {
			 margin: 6vh;
			}


			.checkbox_text {
				color: map-get($colors, lightFontColor);
				margin: 0 1.5vw;
				font-weight: 100;
				width: 220px;
				font-size: 1rem;
			}
		}

		.dwcheckbox {
			display: none;
		}

		.dwcheckbox + label {
			width: 38px;
			height: 36px;
			background: url("../../images/form_ok_mobile.png") 0 0;
			display: block;
			cursor: pointer;
			border: 0.05rem solid map-get($colors, mainColor);
		}

		.dwcheckbox:checked + label {
			background-position: 0 -31px;
		}

		.dwcheckbox + label:hover,
		.dwcheckbox:checked + label:hover {
			opacity: 0.8;
		}
		//Checkbox END

		.submit_button {
			border-radius: 8px;
			width: 300px;
			height: 65px;
			font-size: 1.85rem;
			font-weight: 500;
		}
	}
}
}



// Contactform END

// Footer START
.footer {
	display: flex;
	align-items: center;
	flex-direction: column;


	.footer_container {
		display: flex;
		flex-direction: column;
		padding-bottom: 3vh;
		width: 78vw;


		@media (min-width: 769px) and (max-width: 1200px) {
			flex-direction: row-reverse;
			justify-content: flex-end;
			align-items: flex-end;
			width: 86vw;
		}

		@media (min-width: 1201px) {
			flex-direction: row-reverse;
			justify-content: flex-end;
			align-items: flex-end;
			width: 1050px;
		}

		.footer_logos {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			width: 78vw;


			@media (min-width: 769px) {
				flex-grow: 2;
				flex-direction: row-reverse;
				justify-content: flex-start;

			}

			.footer_logo {
				color: map-get($colors, darkFontColor);
				font-size: 1.1rem;

				@media (min-width: 769px) {
					margin-left: 50px;
				}
			}

			.icons {
				img {
					width: 30px;
					height: 30px;
				}
			}
		}

		.copy_text {
			font-size: 0.8rem;
			color: map-get($colors, darkFontColor);


			@media (min-width: 769px) {
				width: 60vw;
				font-size: 0.9rem;

			}
		}
	}
}



// Footer END
